@charset "UTF-8";


body{
background-color: rgb(152, 255, 255);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 20px;
}
h1{
    color: blueviolet;
    background-color: rgb(255, 241, 184);
}

h2{
    color: rgb(57, 185, 57);
}
p{
    text-align:justify;
